{% extends "main_page_module/base.html" %}


{% block extraheader %}
{% endblock %}


{% block nav_login_out %}
  {% if session['user_id'] %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('main_page_module.logout') }}">Logout </a>
    </li>
  {% else %}
    <li class="nav-item active">
      <a class="nav-link" href="{{ url_for('main_page_module.login') }}">Login </a>
    </li>
  {% endif %}
{% endblock nav_login_out %}


{% block flashes %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            <br>
          {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
            <br>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}


{% block content%}

{% macro render_field(field, placeholder=None) %}
<div class="form-group">
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}

    {{ field.label }}

    {% if field.errors %}
        {% set css_class = css_class + ' is-invalid' %}

        {% for error in field.errors %}
            
            <small id="{{ field.label.text }}" class="text-danger">
                {{ error }}
          </small>

        {% endfor %}
        </ul>
    {% endif %}

    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}


<div>
  <div>
    <legend>Sign in</legend>

    <form method="POST" action="." accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      {{ render_field(form.username_or_email, placeholder="Your Email Address",
                                  autofocus="") }}
      {{ render_field(form.password, placeholder="Password") }}
      <div>
      <label>
        <input type="checkbox" name="remember" value="1"> Remember Me
      </label>
      <a role="button" href="">Forgot your password?</a><span class="clearfix"></span>
      </div>
      <div class="form-group">
        {{ form.submit(class="form-control btn btn-primary mb-2") }}
        </div>
    </form>
    <a role="button" href="{{ url_for('main_page_module.register') }}">Not registered yet? Do it now!</a><span class="clearfix"></span>
  </div>
</div>
{% endblock %}