{% extends "main_page_module/base.html" %}

{% block extraheader %}
{% endblock extraheader  %}

{% block nav_index %}active{% endblock nav_index %}


{% block flashes %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            <br>
          {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
            <br>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock flashes %}


{% block content%}
<h1>Hello, there!</h1>

{% endblock content %}